#myTabContent {
    background-color:white;

}
.popover .popover-title {
                background: none;
                border-bottom: medium none !important;
                margin: 0 !important;
                padding: 10px 14px 0 !important;
            }
            .tab-content{
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
            }

            #menu {
                margin-bottom: 15px;
                overflow: hidden;
            }
            #menu ul>li{
                float:left;
                width: 100px;
                font-size: 13px;
                text-align: center;
                padding: 4px;
                background: #ccc;
                margin-right: 10px;
                border-radius: 4px;
                text-shadow: 0 1px 0 #fff;
            }
            #menu ul>li:hover{
                background: #ddd;
            }
            #menu ul>li>a {
                text-decoration: none;
                display: block;
            }